*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --gray: rgb(182, 182, 182);
  --blueTranspa: #446aabcb;
}
body {
  background-color: rgb(243, 248, 252);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  color: rgb(102, 102, 102);
  text-align: center;
  display: flex;
  justify-content: center;
  
}
@media only screen and (min-width: 768px) {
  .container{
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .container{
    width: 85%;
  }
}
@media only screen and (max-width: 480px) {
  .container{
    width: 95%;
  }
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  min-height: 70%;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(254, 254, 255);
  /* border: 1px solid gray; */
  -webkit-box-shadow: 0px 0px 43px 0px rgba(186, 184, 186, 1);
  -moz-box-shadow: 0px 0px 43px 0px rgba(186, 184, 186, 1);
  box-shadow: 0px 0px 43px 0px rgba(186, 184, 186, 1);
}
.container > h1 {
  width: 98%;
  color: inherit;
  margin: 0 15px;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--gray);
}
.toggleEncDec {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10px;
}
.encryptionSlct,
.decryptionSlct {
  position: relative;
  color: rgb(138, 138, 138);
  min-width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  /* background-color: rgba(250, 247, 255, 0.89); */
  border-top: 2px solid var(--gray);
  border-left: 2px solid var(--gray);
  border-right: 2px solid var(--gray);
}
:where(.encryptionSlct, .decryptionSlct):hover {
  cursor: pointer;
}
.selected {
  background-color: #446aab;
  color: rgb(255, 255, 255);
  border-top: 2px solid var(--gray);
  border-left: 2px solid var(--gray);
  border-right: 2px solid var(--gray);
}
.encryption,
.decryption {

  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--gray);
  min-width: 98%;
  border-radius: 5px;
}
.labelTextForEnc {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px 0;
}
textarea {
  width: 98%;
  border-radius: 5px;
  border: 2px solid rgb(207, 207, 207);
  resize: vertical;
  padding: 8px;
}
textarea:focus {
  outline-color: #446aab;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textForEncFileLabel {
  font-size: medium;
  /* background-color: var(--blueTranspa); */
  border: 2px solid var(--blueTranspa);
  color: var(--blueTranspa);
  padding: 8px 12px;
  border-radius: 5px;
  margin: 3px;
}
.textForEncFileLabel:hover {
  background-color: #446aab;
  color: rgb(255, 255, 255);
}

.getFileAndReset {
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
input[type="checkbox"] {
  accent-color: #446aab;
}
input[type = "button"]{
  font-family: FontAwesome;
}
a{
  font-size: medium;
  font-family: inherit;
  padding: 8px 10px;
  background-color: white;
  border: 2px solid var(--blueTranspa);
  color: var(--blueTranspa);
  border-radius: 5px;
  margin: 3px;
  text-decoration: none;
}
#rstBtn {
  --webkit-appearance: none;
  font-size: medium;
  font-family: inherit;
  padding: 8px 10px;
  border: 0;
  background-color: white;
  border: 2px solid var(--blueTranspa);
  color: var(--blueTranspa);
  border-radius: 5px;

  margin: 3px;
}
#rstBtn:hover {
  --webkit-appearance: none;
  background-color: #446aab;
  color: white;
  border-radius: 5px;
}
button {
  font-size: medium;
  font-family: inherit;
  padding: 8px 10px;
  background-color: white;
  border: 2px solid var(--blueTranspa);
  color: var(--blueTranspa);
  border-radius: 5px;

  margin: 3px;
}

button:hover {
  background-color: #446aab;
  color: white;
  border-radius: 5px;
}

.userKeyIVLabel {
  padding: 10px;
}
.keyAndIV {
  width: 100%;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.secretKey,
.iv {
  min-width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.decryptedHeader {
  padding-top: 20px;
  width: 98%;
  border-top: 2px solid var(--gray);
}
.displayEncryptedTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
}
.displayKeyAndIV,
.displayKeyAndIVDec {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#areaDisplayEncTxt,
#areaDisplayDecTxt {
  width: 100%;
}
.displayKeyIv {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}
.fa-file{
  color: #446aab;

}
.fa-layers-text{
  font-size:medium;
  display: inline-block;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: rgb(241, 242, 250);
}
.inlnBlck{
  display: inline-block;
  position: relative;

}
